.tes-cont-1 {
    margin-top: -560px;
    z-index: 2040;
}
.technology-list li h3 {
    font-size: 1.5rem;
    color: #007ac3;
}
.technology-list li .sub-til {
    font-size: 1.125rem;
    padding-bottom: 14px;
    font-weight: 500;
}
.technology-list li .info {
    font-size: 0.9375rem;
    border-top: 1px #e5e5e5 solid;
    padding-top: 14px;
}
.technology-list li .info .txt {
    display: block;
    padding-bottom: 4px;
}
.technology-list li .img-item {
    max-width: 258px;
    margin: 0 auto;
}
.trunk-list ul li .inner-item .thum .icon-play, .trunk-list ul li .inner-item .thum .icon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
}

.E-circle-con {
    max-width: 420px;
    position: relative;
    margin: 210px auto 250px auto;
}
.E-circle-con .hexagon-item {
    width: 124px;
    height: 140px;
    position: absolute;
}
.E-circle-con .hexagon-item.item-1 {
    top: -176.99996px;
    left: 143.00018px;
}
.E-circle-con .hexagon-item.item-2 {
    top: -83.27292px;
    left: 369.27936px;
}
.E-circle-con .hexagon-item.item-3 {
	top: 143px;
	left: 463px
}

.E-circle-con .hexagon-item.item-4 {
	top: 369.27417px;
	left: 369.27417px
}

.E-circle-con .hexagon-item.item-5 {
	top: 463px;
	left: 143px
}

.E-circle-con .hexagon-item.item-6 {
	top: 369.27417px;
	left: -83.27417px
}

.E-circle-con .hexagon-item.item-6 .item-txt {
	left: -200px;
	text-align: right
}

.E-circle-con .hexagon-item.item-7 {
	top: 143.0px;
	left: -177.0px
}

.E-circle-con .hexagon-item.item-7 .item-txt {
	left: -200px;
	text-align: right
}

.E-circle-con .hexagon-item.item-8 {
	top: -83.27417px;
	left: -83.27417px
}

.E-circle-con .hexagon-item.item-8 .item-txt {
	left: -200px;
	text-align: right
}
.E-circle-con.ani-group .ani-item:first-child {
    transition-delay: .275s;
}
.E-circle-con.ani-group .ani-item:nth-child(2) {
	transition-delay: .55s
}

.E-circle-con.ani-group .ani-item:nth-child(3) {
	transition-delay: .825s
}

.E-circle-con.ani-group .ani-item:nth-child(4) {
	transition-delay: 1.1s
}

.E-circle-con.ani-group .ani-item:nth-child(5) {
	transition-delay: 1.375s
}

.E-circle-con.ani-group .ani-item:nth-child(6) {
	transition-delay: 1.65s
}

.E-circle-con.ani-group .ani-item:nth-child(7) {
	transition-delay: 1.925s
}

.E-circle-con.ani-group .ani-item:nth-child(8) {
	transition-delay: 2.2s
}

.E-circle-con.ani-group .ani-item:nth-child(1) {
    transition-delay: .275s;
}
.E-circle-con .hexagon-item .item-txt {
    position: absolute;
    left: 134px;
    width: 190px;
    top: 50%;
    color: #006bbd;
    font-size: 1rem;
    line-height: 1.5;
    transform: translate(0, -50%);
}

.E-feature li .item-img {
    width: 62px;
    margin-bottom: 6px;
}

.E-feature li h4 {
    color: #006bbd;
    font-size: 1.25rem;
    font-weight: 500;
    border-top: #006bbd 1px solid;
    padding: 8px 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.E-feature li .info {
    color: #333;
    font-weight: 500;
    font-size: .9375rem;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
}
.tes-cont-2 .tilt-block {
    top: 6%;
    height: 60%;
}
.tes-cont-2 .line-group.lt {
    left: 0;
    top: 0;
}
.tes-cont-2 .line-group.lt .line {
    height: 50px;
    width: 140px;
    transform: translate3d(-140px, 0, 0);
    background-color: #dc3b43;
}
.tes-cont-2 .line-group.lt.active .line {
    transform: translate3d(0, 0, 0);
}
.tes-cont-2 .line-group.lt .line:nth-child(2) {
    width: 100px;
    background-color: #0073c1;
    height: 40px;
    margin-top: -90px;
}
.tes-cont-2 .line-group.lt.active .line:nth-child(2) {
    transform: translate3d(100px, 0, 0);
}
.tes-cont-2 .line-group.rt {
    right: 360px;
    top: 0;
}
.tes-cont-2 .line-group.rt .line {
    height: 12px;
    width: 360px;
    transform: translate3d(360px, 0, 0);
    background-color: #fd555e;
}
.tes-cont-2 .line-group.rt.active .line {
    transform: translate3d(0, 0, 0);
}
.tes-cont-2 .line-group.rt .line+.line {
    margin-top: 10px;
}
.S-hexagon-box {
    padding-bottom: 240px;
}
.S-til {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}
.S-til .inner {
    background: #acc6e7;
    display: inline-block;
    padding: 0 10px;
    line-height: 1.6;
}
.S-circle-con {
    width: 309px;
    height: 356px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 256px;
}
.S-circle-con .S-hexagon-nav li {
	width: 119px;
	height: 136px;
	background: url(../images/S-hexagon-small.png) no-repeat;
	position: absolute;
	color: #2b92dc;
	cursor: pointer;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center
}

.S-circle-con .S-hexagon-nav li .txt.f16 {
	font-size: 1rem;
	line-height: 1;
	font-weight: bold
}

.S-circle-con .S-hexagon-nav li h4 {
	font-family: 'Gotham', 'Myriad Pro';
	font-size: 1.5rem;
	font-weight: bold
}

.S-circle-con .S-hexagon-nav li h4.f28 {
	font-size: 1.325rem
}

.S-circle-con .S-hexagon-nav li.item-1 {
	top: -164.99997px;
	left: 96.00015px
}

.S-circle-con .S-hexagon-nav li.item-2 {
	top: -122.13803px;
	left: 241.97485px
}

.S-circle-con .S-hexagon-nav li.item-3 {
	top: -7.15761px;
	left: 341.61799px
}

.S-circle-con .S-hexagon-nav li.item-4 {
	top: 143.42501px;
	left: 363.25179px
}

.S-circle-con .S-hexagon-nav li.item-5 {
	top: 281.8124px;
	left: 300.05239px
}

.S-circle-con .S-hexagon-nav li.item-6 {
	top: 364.0631px;
	left: 172.06779px
}

.S-circle-con .S-hexagon-nav li.item-7 {
	top: 364.0631px;
	left: 19.93221px
}

.S-circle-con .S-hexagon-nav li.item-8 {
	top: 281.8124px;
	left: -108.05239px
}

.S-circle-con .S-hexagon-nav li.item-9 {
	top: 143.42501px;
	left: -171.25179px
}

.S-circle-con .S-hexagon-nav li.item-10 {
	top: -7.16205px;
	left: -149.60064px
}

.S-circle-con .S-hexagon-nav li.item-11 {
	top: -122.13845px;
	left: -49.97301px
}

.S-circle-con .S-hexagon-nav li.cur {
	background: url(../images/S-hexagon-small-hover.png) no-repeat;
	color: #fff
}

.S-circle-con .S-hexagon-con {
	width: 100%;
	height: 100%;
	background: url(../images/S-hexagon-bg.png) no-repeat
}

.S-circle-con .S-hexagon-con .swiper-slide {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative
}

.S-circle-con .S-hexagon-con .swiper-slide h4 {
	position: absolute;
	color: #e2eaf3;
	font-size: 80px;
	line-height: 1.2;
	z-index: -1;
	font-family: 'Myriad Pro';
	font-weight: bold
}

.S-circle-con .S-hexagon-con .swiper-slide h4.f64 {
	font-size: 64px
}

.S-circle-con .S-hexagon-con .swiper-slide h4.f60 {
	font-size: 52px;
	line-height: 1
}

.S-circle-con .S-hexagon-con .swiper-slide .inner {
	text-align: left;
	position: relative;
	z-index: 2;
	background: transparent
}

.S-circle-con .S-hexagon-con .swiper-slide .inner .item {
	display: block;
	font-size: 1rem;
	color: #2b92dc;
	padding: 3px 0
}

.trunk-list.IT-list ul li .inner-item {
    padding-bottom: 10px;
    background: linear-gradient(-28deg, transparent 20px, #fff 0);
}
.trunk-list.IT-list ul li .inner-item .line.line-right-bot {
    width: 18%;
    left: 84%;
    transform: rotate(-27deg) translate(2px, -11px);
}

.tes-cont-3 .tilt-block {
    top: unset;
    height: 58%;
    bottom: -36%;
}
.tilt-block>.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.tes-cont-3 .line-group.rt {
    right: 234px;
    top: -36px;
}
.tes-cont-3 .line-group.rt .line {
    height: 36px;
    width: 127px;
    transform: translate3d(234px, 0, 0);
    background-color: #0073c1;
}
.tes-cont-3 .line-group.rt .line:nth-child(2) {
    width: 234px;
    height: 58px;
    background-color: #e77f04;
}
.tes-cont-3 .line-group.rt.active .line:nth-child(2) {
    transform: translate3d(0, 0, 0);
}
.tes-cont-3 .line-group.rt.active .line {
    transform: translate3d(107px, 0, 0);
}
.tes-cont-3 .line-group.lt {
    left: 0;
    top: -40px;
}

.tes-cont-3 .line-group.lt .line {
    height: 15px;
    width: 140px;
    transform: translate3d(-140px, 0, 0);
    background-color: #006bbd;
}
.tes-cont-3 .line-group.lt.active .line {
    transform: translate3d(0, 0, 0);
}
.tes-cont-3 .line-group.lt .line:nth-child(1) {
    margin-top: 0;
    width: 112px;
    background-color: #dc3b43;
    height: 40px;
}
.tes-cont-3 .line-group.lt.active .line:nth-child(1) {
    transform: translate3d(140px, 0, 0);
}
.tes-cont-3 .line-group.lt .line {
    height: 15px;
    width: 140px;
    transform: translate3d(-140px, 0, 0);
    background-color: #006bbd;
}
.tes-cont-3 .line-group.lt .line+.line {
    margin-top: 15px;
}
.tes-cont-3 .line-group.lt .line:nth-child(2) {
    margin-top: 0;
}
.tes-cont-3 .line-group.lt.active .line {
    transform: translate3d(0, 0, 0);
}
.tes-cont-3 .line-group.rb {
    right: 240px;
    bottom: 100px;
}

.tes-cont-3 .line-group.rb .line {
    width: 240px;
    height: 100px;
    background-color: #e9e9e9;
    transform: translate3d(240px, 0, 0);
}

.tes-cont-3 .line-group.rb.active .line {
    transform: translate3d(0, 0, 0);
}
.tes-cont-2 .line-group.rb .line:nth-child(1) {
    width: 180px;
    background-color: #e77f04;
    height: 70px;
}
.tes-cont-2 .line-group.rb .line:nth-child(2) {
    background-color: #0073c1;
    width: 120px;
    height: 44px;
}
.C-line-til {
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	margin-top: -40px
}

.C-line-til .item {
	width: 136px;
	display: block;
	position: relative;
	z-index: 10
}

.C-line-til .item:before,
.C-line-til .item:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 1px;
	background: #9fcde8
}

.C-line-til .item:first-child {
	float: left;
	padding-left: 110px
}

.C-line-til .item:first-child:before,
.C-line-til .item:first-child:after {
	bottom: 36px;
	left: 0px
}

.C-line-til .item:first-child:before {
	transform: rotate(-45deg) translate(0, -5px)
}

.C-line-til .item:first-child:after {
	transform: rotate(45deg) translate(0, 4px)
}

.C-line-til .item:last-child {
	float: right;
	padding-right: 110px
}

.C-line-til .item:last-child:before,
.C-line-til .item:last-child:after {
	bottom: 36px;
	right: 0px
}

.C-line-til .item:last-child:before {
	transform: rotate(45deg) translate(0, -5px)
}

.C-line-til .item:last-child:after {
	transform: rotate(-45deg) translate(0, 4px)
}

.C-line-til:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background: #9fcde8;
	bottom: 36px
}

.advisory-list {
	padding-left: 5px;
	padding-right: 5px
}

.advisory-list .item {
	width: 33.33%;
	float: left;
	padding: 0 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 15px
}

.advisory-list .item h5 {
	background: #acc6e7;
	color: #fff;
	text-align: center;
	font-size: 1.25rem;
	margin-bottom: 10px
}

.advisory-list .item .info {
	background: #f6f6f6;
	border: 1px #ccc solid;
	font-size: .9375rem;
	padding: 15px 20px;
	color: #333
}

.advisory-list .item .info p {
	padding: 3px 0
}

.diff-box {
	padding-left: 40px;
	overflow: hidden;
	padding-right: 60px;
	position: relative
}

.diff-box .diff-img {
	width: 48%;
	float: left
}

.diff-box .diff-con {
	width: 41%;
	position: absolute;
	right: 60px;
	top: 50%;
	transform: translate3d(0, -50%, 0)
}

.diff-box .diff-con .item {
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 40px;
	padding: 1px;
	background: linear-gradient(-30deg, transparent 20px, #007ac3 0)
}

.diff-box .diff-con .item .inner {
	background: linear-gradient(-30deg, transparent 20px, #efefef 0);
	overflow: hidden;
	padding: 12px 10px;
	color: #007ac3
}

.diff-box .diff-con .item .inner div {
	box-sizing: border-box;
	float: left
}

.diff-box .diff-con .item .til {
	width: 43%;
	font-size: 2.5rem;
	font-weight: bold
}

.diff-box .diff-con .item .til .unit {
	font-size: .875rem
}

.diff-box .diff-con .item .txt {
	width: 57%;
	min-height: 78px;
	border-left: 1px #007ac3 solid;
	font-size: .9375rem
}

.diff-box .diff-con .item .txt p {
	padding-left: 10px
}
.tes-cont-4 .tilt-block {
    top: unset;
    bottom: 0;
    height: 100%;
    transform: skewY(-30deg) translateY(50%);
}

@media screen and (max-width:768px) {
	.cj-rokin-cont-1 .line-group.rb .line:nth-child(4) {
	    width: 60px;
	    height: 25px;
	    margin-top: 0;
	}
	.cj-rokin-cont-1 .line-group.rb.active .line:nth-child(4) {
	    transform: translate3d(0, 0, 0);
	}
	.tes-cont-1 {
	    margin-top: 0;
	}
	.technology-list {
	    margin: 0;
	    padding-bottom: 16px;
	}
	.technology-list li {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    text-align: left;
	}
	.technology-list.oper-col-3 li {
	    width: 100%;
	    margin-top: 15px;
	}
	.technology-list li h3 {
	    font-size: 1rem;
	}
	.technology-list li .sub-til {
	    font-size: .9375rem;
	}
	.technology-list li .img-item {
	    margin: 0 auto;
	    width: 129px;
	}
	.E-circle-con {
	    margin: 20px auto 50px auto;
	    padding: 0 10px;
	}
	.E-circle-con .hexagon-item {
		display: none
	}
	.tes-cont-2 .line-group.lt {
	    left: -50px;
	}
	.tes-cont-2 .line-group.lt .line {
	    height: 25px;
	}
	.tes-cont-2 .line-group.lt .line:nth-child(2) {
	    height: 20px;
	    margin-top: -45px;
	}
	.tes-cont-2 .line-group.rb {
	    right: 60px;
	    bottom: 0;
	}
	.tes-cont-2 .line-group.rb .line {
	    height: 8px;
	}
	.tes-cont-2 .line-group.rb .line:nth-child(1) {
	    width: 180px;
	    height: 35px;
	}
	.tes-cont-2 .line-group.rb .line:nth-child(1) {
	    width: 180px;
	    height: 35px;
	}
	.tes-cont-2 .line-group.rb .line:nth-child(2) {
	    width: 60px;
	    height: 22px;
	}
	.tes-cont-2 .line-group.rb.active .line:nth-child(2) {
	    transform: translate3d(-60px, 0, 0);
	}
	.tes-cont-2 .line-group.rb .line:nth-child(4), .tes-cont-2 .line-group.rb .line:nth-child(5){
	    margin-top: 8px;
	}
	.S-circle-con {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px
	}
	.S-circle-con .S-hexagon-nav {
		padding-bottom: 10px;
		overflow: hidden
	}
	.S-circle-con .S-hexagon-nav li {
		width: 31.33%;
		margin: 1%;
		float: left;
		height: auto;
		background: none;
		background: linear-gradient(-30deg, transparent 8px, #2b92dc 0);
		padding: 1px;
		box-sizing: border-box;
		position: static
	}
	.S-circle-con .S-hexagon-nav li .inner {
		width: 100%;
		height: 56px;
		line-height: 1.4;
		padding-top: 8px;
		background: linear-gradient(-30deg, transparent 8px, #f7f8f8 0)
	}
	.S-circle-con .S-hexagon-nav li:nth-child(8) .txt {
		line-height: 1.4;
		padding-top: 4px
	}
	.S-circle-con .S-hexagon-nav li h4 {
		font-family: 'arial narrow', 'PingFang SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Helvetica Neue', 'sans-serif';
		width: 100%;
		position: relative
	}
	.S-circle-con .S-hexagon-nav li .txt {
		width: 100%
	}
	.S-circle-con .S-hexagon-nav li:nth-child(1) {
		transform: translate(0, 0)
	}
	.S-circle-con .S-hexagon-nav li.cur {
		background: linear-gradient(-30deg, transparent 8px, #2b92dc 0);
		color: #fff
	}
	.S-circle-con .S-hexagon-nav li.cur .inner {
		background: linear-gradient(-30deg, transparent 8px, #2b92dc 0)
	}
	.S-circle-con .S-hexagon-con {
		width: 98%;
		margin: 0 auto 0 auto;
		height: 120px;
		box-sizing: border-box;
		padding: 1px;
		background: linear-gradient(-30deg, transparent 15px, #2b92dc 0);
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center
	}
	.S-circle-con .S-hexagon-con .swiper-wrapper {
		height: 100%;
		background: linear-gradient(-30deg, transparent 15px, #f7f8f8 0)
	}
	.S-circle-con .S-hexagon-con .swiper-slide {
		position: relative
	}
	.S-circle-con .S-hexagon-con .swiper-slide h4 {
		font-size: 64px;
		font-family: 'arial narrow', 'PingFang SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Helvetica Neue', 'sans-serif'
	}
	.S-circle-con .S-hexagon-con .swiper-slide h4.f64 {
		font-size: 54px
	}
	.S-circle-con .S-hexagon-con .swiper-slide h4.f60 {
		font-size: 40px
	}
	.S-circle-con .S-hexagon-con .swiper-slide .inner {
		padding: 0 10px
	}
	.S-circle-con .S-hexagon-con .swiper-slide .inner .item {
		display: inline-block;
		color: #2b92dc;
		padding: 3px 8px
	}
	.tes-cont-3 .tilt-block {
	    bottom: -30%;
	}
	.tes-cont-3 .line-group.rt {
	    right: 130px;
	    top: -380px;
	}
	.tes-cont-3 .line-group.rt .line {
	    height: 18px;
	}
	.tes-cont-3 .line-group.rt .line:nth-child(2) {
	    height: 29px;
	}
	.tes-cont-3 .line-group.rt.active .line:nth-child(2) {
	    transform: translate3d(80px, 0, 0);
	}
	.tes-cont-3 .line-group.lt {
	    left: -100px;
	    top: -20px;
	}
	.tes-cont-3 .line-group.lt .line {
	    height: 8px;
	}
	.tes-cont-3 .line-group.lt .line:nth-child(1) {
	    margin-top: 0;
	    height: 20px;
	}
	.S-hexagon-box {
	    padding-bottom: 40px;
	}
	.C-line-til {
		margin-bottom: 20px;
		margin-top: -20px
	}
	.C-line-til .item {
		width: 68px
	}
	.C-line-til .item:first-child {
		padding-left: 30px
	}
	.C-line-til .item:first-child:before,
	.C-line-til .item:first-child:after {
		bottom: 18px
	}
	.C-line-til .item:last-child {
		padding-right: 30px
	}
	.C-line-til .item:last-child:before,
	.C-line-til .item:last-child:after {
		bottom: 18px
	}
	.C-line-til:after {
		bottom: 18px
	}
	.advisory-list .item {
		width: 100%
	}
	.advisory-list .item h5 {
		font-size: 1.125rem;
		margin-bottom: 0
	}
	.advisory-list .item .info {
		border-top: none;
		padding: 10px 15px
	}
	.diff-box {
		padding-left: 0px;
		padding-right: 0px
	}
	.diff-box .diff-img {
		width: 100%;
		margin-bottom: 20px
	}
	.diff-box .diff-con {
		width: 100%;
		position: static;
		transform: translate3d(0, 0, 0)
	}
	.diff-box .diff-con .item {
		margin-bottom: 15px
	}
	.tes-cont-2 .line-group.rt {
	    right: 120px;
	}
	.tes-cont-2 .line-group.rt .line {
	    height: 10px;
	    width: 180px;
	    transform: translate3d(180px, 0, 0);
	}
}

@media screen and (max-width:480px) {
	.cont-til h3, .cont-til2 h3 {
	    font-size: 1.25rem;
	}
	.tes-cont-1 {
	    margin-top: -40px;
	}
	.trunk-list ul li .inner-item .thum .icon-box {
	    font-size: .9375rem;
	}
	.trunk-list ul li .inner-item .thum .icon-box p {
	    margin-top: -10px;
	}
}















